{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .card-img-top {
      height: 20vh;
    }
    .card{
        box-shadow:10px 10px 8px #888888;
    }


  .card {
    box-shadow: 10px 10px 8px #888888;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    
  }
  </style>
  <form method="get">
    {% csrf_token %}
    <div class="container mx-auto mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.district|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.sector|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.type|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
          {{ filter.form.beds|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
          {{ filter.form.baths|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
          <button type="submit" class="btn  btn-warning" style="margin-top: 0.85cm;">Search</button>
        </div>
      </div>
  </form>
  </div>
  
<div class="container m-5">
  <hr>
    <h6 class="section-title"> <b>Houses for buying</b> </h6>
    <hr>
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="row justify-content-center">
          {% if houses %}
          {% for pro in filter.qs %}
          <div class="card m-2" style="width: 16rem;">
            <img class="card-img-top" src="{{pro.image.url}}" alt="Card image cap">
  
            <div class="card-body">
              <p><b>{{pro.type}}</b></p>
              <h5>{{pro.price}}Rwf</h5>
              <hr>
              <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{pro.district}},{{pro.sector}}</p>
              <div class="d-flex">
              <p class="card-text mr-4"><i class="fas fa-bed"></i> {{pro.beds}} bedrooms</p>
              <p class="card-text"><i class="fas fa-bath"></i> {{pro.baths}} baths</p>
            </div>
                <a class="btn btn-outline-info" href="{% url 'house_details' pro.pk %}">For {{pro.action}}</a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p>No houses</p>
          {% endif %}
  
  
        </div>
      </div>
    </div>
    </div>
{% endblock %}