{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    .image {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container">
    <div class="row mb-5">
        <div class="col-md-8" style="height:400px;
        overflow:auto;">
            <div class="row">
                <div class="col-12 border"  data-toggle="modal" data-target=".1" >
                    <img class="image"  width="100%" height="300vh" src="{{house.image.url}}">
                </div>
                <div data-toggle="modal" data-target=".2" class="col-md-6 border"><img class="image" src="{{house.image1.url}}"></div>
                <div data-toggle="modal" data-target=".3" class="col-md-6 border "><img class="image" src="{{house.image2.url}}"></div>
                <div data-toggle="modal" data-target=".4" class="col-md-6 border"><img class="image" src="{{house.image3.url}}"></div>
                <div data-toggle="modal" data-target=".5" class="col-md-6 border "><img class="image" src="{{house.image4.url}}"></div>
            </div>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand ml-2" href="/"><img width=100px src="{% static 'lo.png' %}" alt=""></a>
            <hr>
            <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{house.district}},{{house.sector}}</p>
            <div class="d-flex">
                <p class="card-text mr-4"><i class="fas fa-bed"></i> {{house.beds}} bedrooms</p>
                <p class="card-text"><i class="fas fa-bath"></i> {{house.baths}} baths</p>
            </div>
            <div class="d-flex">
                <p class="card-text mr-4">{{house.action}}</p>
                <p class="card-text">for {{house.price}} Rwf</p>
            </div>
            <hr>
            <h4>description</h4>
            <p>{{house.description}}</p>
            <hr>
            <a class="btn btn-outline-info btn-block" data-toggle="modal" data-target=".bd-example-modal-md "
                href="http://">Book a visit</a>
        </div>

    </div>

    <iframe
        src="{{house.map}}"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                {% csrf_token%}
                {{ form|crispy}}
                <button type="submit" class="btn text-light btn-info btn-sm"> Send</button>
                <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg 1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
        </button>
        <img class="image"  width="100%" height="550vh" src="{{house.image.url}}">
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg 2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
        </button>
        <img class="image"  width="100%" height="550vh" src="{{house.image1.url}}">
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg 3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
        </button>
        <img class="image"  width="100%" height="550vh" src="{{house.image2.url}}">
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg 4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
        </button>
        <img class="image"  width="100%" height="550vh" src="{{house.image3.url}}">
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg 5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
        </button>
        <img class="image"  width="100%" height="550vh" src="{{house.image4.url}}">
      </div>
    </div>
  </div>
{% endblock %}