{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
.section-title{
    background: rgb(221, 70, 70);
    width: fit-content;
    padding: 10px;
    margin-bottom: -18px;
    font-size: 15px;
}
</style>

<div class="container mt-5 mb-5">
  <form method="get">
      {% csrf_token %}

      <div class="row">
          <div class="form-group col-md-4 mb-0">
              {{ filter.form.district|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
              {{ filter.form.sector|as_crispy_field }}
          </div>
          <div class="form-group col-md-1 mb-0">
              <button type="submit" class="btn btn-warning mt-4 ">Search</button>
          </div>
      </div>
  </form>
</div>

<h4 class="section-title">Houses</h4>
<hr>
<div class="row mb-2">
    <div class="col-md-9">
      <div class="row">
        {% if houses %}
        {% for pro in filter.qs %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col ps-4 pe-2 pt-4 d-flex flex-column position-static">
              <p class="card-text mb-auto">{{pro.name}}</p>
              <p>{{pro.action}}</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="150" height="180" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                    focusable="false" src="{{pro.image.url}}">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No houses</p>
        {% endif %}


      </div>
    </div>

</div>


{% endblock %}







  