{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    .card-img-top {
        height: 20vh;
    }
</style>

<div class="container" style="margin-top:1%">
    <div class="content-section">
        <div class="media">
            <div class="container mb-5">
                <div class="card mb-2 p-5" style="background-color: #f1f1ec;">
                    <div class="row justify-content-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <img class="rounded-circle account-img" src="{{ user.profile.profile.url }}" width="100%">
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="media-body">
                                <div class="account-heading">
                                    <p><b>Name:</b> {{ user.username }}</p>
                                    <p><b>Email:</b> {{ user.email }}</p>

                                    <a class="btn btn-info btn-sm text-light mr-3" data-toggle="modal"
                                        data-target=".bd-example-modal-md "><strong>Update Profile</strong></a>
                                    <a class="btn btn-outline-info btn-sm text-info mr-3" data-toggle="modal"
                                        data-target=".2"><strong>Bookings</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% if houses %}
                <h4>My Properties</h4>
                <hr>
                <div class="row">
                    {% for pro in houses %}
                    <div class="card m-2" style="width: 20rem;">
                        <img class="card-img-top" src="{{pro.image.url}}" alt="Card image cap">

                        <div class="card-body">
                            <p><b>{{pro.type}}</b></p>
                            <h5>{{pro.price}}Rwf</h5>
                            <hr>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{pro.district}},{{pro.sector}}
                            </p>
                            <div class="d-flex">
                                <p class="card-text mr-4"><i class="fas fa-bed"></i> {{pro.beds}} bedrooms</p>
                                <p class="card-text"><i class="fas fa-bath"></i> {{pro.baths}} baths</p>
                            </div>
                            <a class="btn btn-outline-info" href="">For {{pro.action}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h5>You have no property to sell</h5>
                {% endif %}
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ prof_form|crispy}}
                        <button type="submit" class="btn text-light btn-info btn-sm"> Update Profile</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md 2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if bookings %}
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in bookings %}
                                <tr>
                                    <th scope="row">{{pro.id}}</th>
                                    <td>{{pro.name}}</td>
                                    <td>{{pro.email}}</td>
                                    <td>{{pro.phone}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No Booking yet</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}